@font-face {
    font-family: 'Montserrat';
    src: url(./font/Montserrat/static/Montserrat-Regular.ttf);
    font-weight: 400;
}
@font-face {
    font-family: 'Montserrat';
    src: url(./font/Montserrat/static/Montserrat-Medium.ttf);
    font-weight: 500;
}
@font-face {
    font-family: 'Montserrat';
    src: url(./font/Montserrat/static/Montserrat-SemiBold.ttf);
    font-weight: 600;
}
@font-face {
    font-family: 'Montserrat';
    src: url(./font/Montserrat/static/Montserrat-Bold.ttf);
    font-weight: 700;
}
/* root */
:root{
    --white: #fff;
    --blue:#041D35;
    --orange: #F56200;
}
/* reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}
ul[class],
ol[class] {
  list-style: none;
}
ul{
    list-style: none;
}
a:not([class]) {
  text-decoration-skip-ink: auto;
}
img {
  max-width: 100%;
  display: block;
}
input,
button,
textarea,
select {
  font: inherit;
}
a{
    width: fit-content;
    text-decoration: none;
    cursor: pointer;
    color: inherit;
}
button{
    cursor: pointer;
    border: 1px solid transparent;
}
/* style */
body{
    font-family: "Montserrat";
    font-size: 16px;
    font-style: normal;
    line-height: normal;
    font-weight: 400;
    color: var(--blue);
}
.container{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}
.mb-s{
    margin-bottom: 140px;
}
.mb-h{
    margin-bottom: 60px;
}
h1{
    color: #FFF;
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 20px;
    position: relative;
}
h1 span{
    color:var(--orange);
    font: inherit;
}
h2{
    color: var(--blue, #041D35);
    font-size: 48px;
    font-weight: 600;
    text-transform: uppercase;
}
h2 span{
    color: var(--orange);
    font: inherit;
}
h3{
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--orange);
    font-size: 32px;
    font-weight: 600;
    max-width: 155px;
    width: 100%;
    min-height: 59px;
}
h3 span{
    color: var(--blue);
    font: inherit;
}
span{
    font-size: 16px;
    font-weight: 500;
    color: var(--blue);
    width: 100%;
}
p{
    font-weight: 500;
    font-size: 14px;
    margin-bottom: 40px;
    position: relative;
}
.btn{
    background: var(--orange);
    color: var(--white);
    font-weight: 600;
    transition: all .3s;
    padding: 9.5px 10px;
    border-radius: 5px;
    width: 100%;
    max-width: 171px;
    text-align: center;
}
.btn:hover{
    background: transparent;
    border-color: var(--orange);
}
.header{
    padding: 18px 0 23px 0 ;
    width: 100%;
    background: var(--blue);
}
.header__wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between; 
}
nav {
    display: flex;
    gap: 40px;
    align-items: center;
    color: var(--white); 
}
nav a:hover{
    color: var(--orange);
    transition: all .3s;
}
.header__tel{
    border: 1px solid var(--orange);
}
.header__mob,
.adaptive-nav{
    display: none;
}
.main{
    padding: 149px 0;
    background: var(--blue);
}
.main__wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.main__img{
    max-width: 420px;
}
.main__text-wrap{
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: 500px;
}
.main__text-wrap p{
    color: var(--white);
    font-weight: 400;
    max-width: 500px;
}
.line__top{
    position: absolute;
    top: -103px;
    left: 0;
}
.line__top1{
    position: absolute;
        right: 0px;
        top: -550%;
}
.about h2{
    max-width: 600px;
}
.about__top-wrapper{
    display: flex;
    justify-content: space-between;
}
.about__top{
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 500px;
    width: 100%;
}
.about__block{
    display: flex;
    align-items: center;
    border-radius: 10px;
    border: 1px solid var(--blue, #041D35);
    padding: 30px 40px;
    position: relative;
    justify-content: space-between;
    width: 100%;
    border-right: 1px solid var(--blue);
    gap: 40px;
}
.about__block h3{
   padding-right: 40px;
    border-right: 1px solid var(--blue);
}
.line{
    width: 1px;
    height: 100%;
    background: #041D35;
}
.about__block span{
    max-width: 230px;
}
.about__bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 60px;
}
.about__bottom h2 {
    max-width: 560px;
    margin-bottom: 20px;
}
.about__bottom img{
    max-width: 100%;
    border-radius: 20px;
    width: 100%;
}
.about__bottom-wrapper{
    width: 100%;
    display: flex;
    flex-direction: column; 
}
.about__bottom-wrapper p:nth-of-type(2)::before,
.about__bottom-wrapper p:nth-of-type(3)::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background: var(--blue);
    left: 0;
    top: -20px;
}
.about__bottom-wrapper p:nth-of-type(3){
    margin-bottom: 20px;
} 
.order-btn{
    background: transparent;
    border-color: var(--orange);
    padding: 14.5px 39px;
    max-width: 217px;
    width: 100%;
    border-radius: 10px;
    color: var(--orange);
    text-transform: uppercase;
}
.order-btn:hover{
    background: var(--orange);
    color: var(--white);
    transition: all .3s;
}
.services{
    background: var(--blue);
    padding: 140px 0;
}
.white__title{
    color: var(--white);
}
.services__blocks{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap:40px;
    row-gap: 44px; /* мщжно конечно сделать чтоб было везде по 40,но не знаю насколько принципиально*/
}
.services-block{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 20px;
    background: var(--white);
    min-height: 260px;
    padding: 40px;
}
.services__bottom{
    display: flex;
    justify-content: space-between;
    background: var(--orange);
    border-radius: 20px;
}
.services__text{
    padding: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 40px;
}
.services__text h2{
    font-size: 32px;
    color: var(--white);
}
.services__text button{
    color: var(--white);
    border-color: var(--white);
}
.services__text button:hover{
    color: var(--orange);
    border-color: transparent;
    background: var(--white);
    transition: all .3s;
}
.services__bottom img{
    border-radius: 20px;
    max-width: 540px;
    width: 100%;
    object-fit: cover;
}
.work__wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}
.btn__wraper{
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
    flex-wrap: wrap;
    width: 100%;
}
.white-btn{
    padding: 15px 30px;
    border-radius: 500px;
    border: 1px solid var(--blue);
    text-align: center;
    background: inherit;
    transition: all .3s;
    color: var(--blue);
    font-weight: 500;
}
.white-btn:hover{
    background: var(--orange);
    color: var(--white);
    scale: 1.05;
    border-color: transparent;
}
.work__images{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    width: 100%;
}
.work-img{
    border-radius: 20px;
    width: 100%;
    object-fit: cover;
    max-height:460px ;
}
.slider__section{
    background: var(--blue);
    padding: 140px 0;
}
.slider__container{
    display: flex;
    flex-direction: column;
    gap: 60px;
}
.faq__container h2{
    text-align: center;
}
.tabs {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.tab {
    position: relative;
}

.tab input {
    position: absolute;
    opacity: 0;
    z-index: -1;
}

.tab label {
    display: flex;
    align-items: center;
    gap: 20px;
    cursor: pointer;
    padding: 20px 80px 20px 40px;
    border-radius: 500px;
    background: var(--orange);
    position: relative;
    transition: all .5s;
    font-size: 20px;
    color: var(--white);
    font-weight: 500;
    width: 100%;
}

.tab label::after {
    position: absolute;
    content: url(./images/plus.svg);
    right: 40px;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition: all .3s;
}

.tab-span{
    display: flex;
    padding: 5px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 200px; 
    max-width: 65px;
    font-size: 20px;
    font-weight: 500;
    border: 1px solid var(--white);
    background: var(--orange);
    color: var(--white);
}
.tab__content {
    max-height: 0;
    overflow: hidden;
    background: var(--blue);
    color: var(--white);
    border-radius: 0px 0px 30px 30px;
    padding: 0 40px;
    font-size: 14px;
    font-weight: 500;
    transition: all .3s;
}
.tab input:checked ~ .tab__content {
    max-height: 100vh;
    padding: 52.5px 40px 20px 40px;
    margin-top: -37.5px;
}
.tab label:hover::after {
    content: url(./images/white-plus.svg);
    transition: all .33s;
 }
.tab label:hover > .tab-span {
    color: var(--orange);
    background: var(--white);
    transition: all .3s;
}
.connect-section{
    position: relative;
}
.connect-section h2{
text-align: center;
}
iframe{
    width: 100%;
    min-height: 700px;
    padding: 0;
    margin: 0;
}
 iframe{
    min-height: 700px;
    max-height: 700px;
    height:100%;
    width:100%;
}
.connect-section .container {
    position: relative;
   }
.connect-wrapper{
    position: absolute;
    bottom: 150px;
    width: fit-content;
}
.connect__wrap {
    display: flex;
    flex-direction: column;
    background: var(--blue);
    bottom: 100%;
    left: 0;
    border-radius: 20px;
    min-height: 400px;
    padding: 60px;
    max-width: 481px;
    justify-content: space-between;
    width: 100%;
}
.connect{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.connect__link{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    color: var(--white);
    margin-top: auto;
}
.connect__link svg{
    min-width: 40px;
    height: 40px;
}
.social__block{
    display: flex;
    gap: 10px;
}
.book-section{
    padding: 140px 0;
    background: var(--orange);
}
.book-container h2{
    text-align: center;
}
footer{
    background: var(--blue);
}
.footer-container{
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    justify-content: center;
    padding: 100px 0;
}
.copy{
    padding: 20px 0 40px 0;
    text-align: center;
    position: relative;
}
.copy::before{
    content: "";
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: var(--white);
}
.copy span{
    color: var(--white);
    font-size: 14px;
    font-weight: 400;
    text-transform: lowercase;
}
@media screen and (min-width: 1100px){
    .main__img {
        max-width: 560px;
    }
    .about__bottom img{
        max-width: 600px;
    }
    .about h2 {
        max-width: 600px;
    }
}
@media screen and (max-width:1023px) {
    .main__img{
        display: none;
    }
.main__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
}
.main__text-wrap{
    max-width: 100%;
}
.line__top{
    left: inherit;
    right: 36px;
}
.about__top-wrapper {
   flex-direction: column;
}
.about__bottom{
    flex-direction: column;
}
.about__top{
    max-width: 100%;
}
.about__block{
    justify-content: flex-start;
}
.services__bottom{
    flex-direction: column-reverse;
}
.services__bottom img{
    max-width:  100%;
    max-height: 288px ;
}
.services__blocks{
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}
.services__bottom{
    padding: 0;
}
.services__text {
    max-width: 560px;
    /* gap: 40px; */
    padding: 40px;
}
.work__images {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}
.line__top1 {
    right: -68px;
    top: -170%;
}
}
@media screen and (max-width:990px) {
    .main{
        padding: 263px 0;
    }
    .header__wrapper{
        display: none;
    }
    .logo__adaptive{
        max-width: 200px;
    }
    .header__mob{
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        padding: 15px 20px;
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        z-index: 2;
        background: var(--blue);
    }
    .adaptive-nav .nav__link{
        font-size: 36px;
        line-height: 54px;
    }
    .adaptive-nav .tel__header{
        margin-top: 100px;
    }
    .adaptive-nav a:nth-last-child(2){
        margin-bottom: 40px;
    }
    .header-btn{
        transition-duration: 0.5s;
        width: 40px;
        height: 40px;
        position: relative;
    }
    .adaptive-nav {
        position: fixed;
        left: 0;
        top: 70px;
            width: 100vw;
            height: 100%;
            background: var(--blue);
            transform: translateX(-100%);
            transition: transform 0.5s; 
            flex-direction: column;
            padding: 100px 20px;
            gap: 15px;
            justify-content: center;
            align-items: center;
            z-index: 2;
            display: flex; 
    }
    .open .adaptive-nav {
        transform: translateX(0);
    }
    .icon {
        position: absolute;
        width: 40px; 
        height: 40px; 
        top: 0;
        left: 0; 
    }
    .icon-left {
        transition-duration: 0.3s;
        position: absolute;
        width: 30px; 
        height: 1.5px;
        top: 18px; 
        background-color: var(--white);
        left: 7px; 
    }
    .icon-right {
        transition-duration: 0.3s;
        position: absolute;
        width: 30px; 
        height: 1.5px;
        top: 18px; 
        background-color: var(--white);
        left: 7px; 
    }
    .icon-right::before{
        transition-duration: 0.3s;
        position: absolute;
        width: 30px;
        height: 1.5px;
        background-color: var(--white);
        content: "";
        top: -10px;
    }
    .icon-left::before{
        transition-duration: 0.3s;
        position: absolute;
        width: 30px;
        height: 1.5px;
        background-color: var(--white);
        content: "";
        top: -10px;
    }
    .icon-right::after{
        transition-duration: 0.3s;
        position: absolute;
        width: 20px;
        height: 1.5px;
        background-color: var(--white);
        content: "";
        top: 10px;
    }
    .icon-left::after{
            transition-duration: 0.3s;
            position: absolute;
            width: 30px;
            height: 1.5px;
            background-color: var(--white);
            content: "";
            top: 10px;
    }
    .open .icon-left,
    .open .icon-right{
        transition-duration: 0.3s;
        background: transparent;
    } 
    .open .icon-left::before {
        transform: rotateZ(44deg) translate(-3px, 13px);
    }
    .open .icon-left::after {
        transform: rotateZ(-46deg) translate(-4px, -11px);
    }
    .open .icon-right::before {
        transform: rotateZ(-46deg) translate(-7px, 3px);
    }
    .open .icon-right::after {
        transform: rotateZ(46deg) translate(2px, -5px);
    } 
    .services .order-btn {
        max-width: 217px;
    }
     .order-btn {
        max-width: 100%;
    }
    .services img{
        max-height: 288px;
        object-fit: cover;
    }
    .connect-section {
        position: relative;
        display: flex;
        flex-direction: column;
        margin-bottom: 140px;
    }
    iframe{
        max-height: 600px;
        min-height: 600px;
        padding: 0 20px;
    }
    .connect-section{
        display: flex;
        flex-direction: column;
    }
    .connect-wrapper {
        position: relative;
        bottom: 0;
        width: 100%;
    }
    .connect__wrap {
        border-radius: 0px 0px 20px 20px;
        min-height: 400px;
        max-width: 100%;
        transform: none;
        width: 100%;
    }
    h2{
        font-size: 45px;
       }
}

@media screen and (max-width:625px){
    .main{
        padding: 172px 0;
    }
   .services,
   .book-section,
   .footer-container{
    padding: 70px 0;
   }
    .line__top,
    .line__top1 {
        display: none;
    }
   .mb-s{
    margin-bottom: 70px;
   }
   .about__bottom h2 {
    max-width: 560px;
    margin-bottom: 20px;
}
   .mb-h{
    margin-bottom: 30px;
   }
    h1{
    font-size: 36px;
   }
   h2{
    font-size: 24px;
   }
   h3{
    font-size: 20px;
   }
   .about__block span {
    font-size: 12px;
    }
   .about__block h3 span{
    font-size: 20px;
   }
   .about__bottom{
    gap: 30px;
   }
   .work__wrapper h2{
    max-width: 230px;
    text-align: center;
    margin-bottom: 0;
   }
   p{
    font-size: 12px;
   }
   .connect__link {
    font-size: 14px;
}
    .line__top1 {
        display: none;
    }
    .services__text {
        padding: 40px 20px;
    }
    .services__text h2 {
        font-size: 20px;
    }
    .btn__wraper {
        flex-wrap: nowrap;
        margin-bottom: 0;
        overflow: hidden;
        overflow-x: scroll;
        min-width: calc(100vw - 20px);
        margin-left: 20px;
    }
    iframe{
        max-height: 320px;
        min-height: 320px;
    }
    .white-btn{
        white-space: nowrap;
    }
    .work__wrapper {
        gap: 30px;
    }
    .adaptive-nav {
            padding: 60px 20px; 
    }
    .adaptive-nav .nav__link{
        line-height: 24px;
        font-size: 16px;
    }
    .slider__container h2{
        text-align: center;
    }
}
@media screen and (max-width:525px){
    .services__blocks,
    .work__images {
        grid-template-columns: repeat(1, 1fr);
    }
    .about__block {
        padding: 20px 10px;
    }
    .tab label,
    .tab-span {
        font-size: 14px;
    }
    .tab label::after {
        width: 20px;
        height: 20px;
    }
    .connect__wrap {
        min-height: 350px;
        padding: 40px 20px;
    }
    .footer .header__nav{
        flex-direction: column;
        gap: 30px;
    }
}
@media screen and (max-width:475px) {
    /* .line__top {
        top: -30%;
    } */
    /* h3{
        font-size: 22px;
    } */
    .tab label {
        gap: 10px;
        padding: 15px 55px 15px 15px ;
    }
    .tab-span{
        max-width: 35px;
    }
    .tab label::after {
        right: 35px;
        transform: translateY(-100%);
    }
    .tab input:checked ~ .tab__content {
        margin-top: -29px;
    }
}
